#instagram {
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
	radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
	radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
	radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
	radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
	radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
	radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
	linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#twitter {background: #1da1f2;}
#twitter img {width: 65px;}

/*#youtube {background: #ff0000;}
#youtube img {width: 75px;}*/

#imgur {background: #34373c;}
#imgur img {width: 140px;}

#reddit {background: #ff4500;}
#reddit img {width: 70px;}

/*#GKeep1 {background: #ffbb00;}
#GKeep1 img {width: 48px;}*/

/*#GKeep2 {background: #ffbb00;}
#GKeep2 img {width: 48px;}*/

#twitch {background: #6441a5;}
#twitch img {width: 60px;}

#dropbox {background: #007ee5;}
#dropbox img {width: 60px;}

#soundcloud {background: #ff7700;}
#soundcloud img{width: 75px;}

/*#vk {background: #3573B9;}
#vk img {width: 80px;}*/

/*#GDrive1 {background: #fff;}
#GDrive1 img {width: 65px;}*/

/*#GDrive2 {background: #fff;}
#GDrive2 img {width: 65px;}*/

#apkmirror {background: #f66816;}
#apkmirror img {width: 90px;}

#tiktok {background: #000;}
#tiktok img {width: 75px;}

#pinterest {background: #bd081c;}

#unsplash {background: #fff;}
#unsplash img {width: 60px;}

#github {background: #25292e;}
#github img {width: 60px;}

#deviantart {background: #06070d;}
#deviantart img {width: 140px;}

#androidpolice {background: url("../icons/androidpolice_bg.webp");}
#androidpolice img { width: 90px;}

#gtranslate {background: linear-gradient(75deg, #4285F4 55%, #DBDBDB 55.5%);}
#gtranslate img {width: 160px;}

#genshin {
	background: url("../icons/genshin_bg.webp");
}

#genshin img { width: 140px; }

