@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes appear {
	0% { opacity: 0; }
	10% { opacity: 0; }
	100% { opacity: 1; }
}

body {
	background: #0d1011;
	color: #fff;
	padding-bottom: 4rem;
	animation: fadein .8s;
}

.background {
	background: #333 url("../media/1.jpg") no-repeat center fixed;
	/*filter:blur(5px) brightness(0.9);*/
	filter: brightness(0.9);
	background-size: cover;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

a img {
	visibility: visible;
	vertical-align: middle;
}

a span:first-child {
	visibility: visible;
}

.menu-wrapper {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 15px;
	right: 10px;
	z-index: 3;
}
.menu-wrapper img {
	width: 34px;
	height: 60px;
}
@media screen and (max-width: 900px) {
	.menu-wrapper {
		top: -8px;
		right: -8px;
		width: 40px;
		height: 40px;
	}
}
.menu-wrapper:hover .menu {
	width: 200px;
	height: 245px;
	border-radius: 3px;
	z-index: 999;
}
.menu-wrapper:hover .menu img {
	opacity: 0;
	transition: all 50ms ease-in;
}
.menu-wrapper:hover .menu ul {
	display: block;
	list-style-type: none;
	color: white;
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	font-size: 22px;
}
.menu-wrapper:hover .menu ul li {
	transition: all 200ms ease-in;
	width: 180px;
	margin: 0 auto;
}
.menu-wrapper:hover .menu ul li a {
	font-family: "Product Sans";
	font-weight: 400;
	text-decoration: none;
	display: block;
	width: 180px;
	color: #aaa;
	padding: 7px 0;
	margin: 5px 0;
	border-radius: 4px;
	transition: all 100ms ease-in;
}
.menu-wrapper:hover .menu ul li a:hover {
	color: #4285F4;
	background-color: #fafafa;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	appearance: none;
}
.menu-wrapper:hover .menu ul li a:focus, .menu-wrapper:hover .menu ul li a:active {
	color: #fff;
	background-color: #4285F4;
}
.menu-wrapper .menu {
	width: 60px;
	height: 60px;
	top: 25px;
	right: 20px;
	border-radius: 50%;
	background-color: #1F2326;
	box-shadow: 1px 1px 10px 0px;
	text-align: center;
	color: white;
	position: fixed;
	cursor: pointer;
	z-index: 3;
	box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	transition: all 200ms ease-in-out;
}
.menu-wrapper .menu ul {
	display: none;
	animation: appear 1s;
}
@media screen and (max-width: 900px) {
	.menu-wrapper .menu {
		top: -5px;
		right: -5px;
		width: 40px;
		height: 40px;
		border-radius: 5px;
	}
	.menu-wrapper .menu img {
		width: 25px;
		height: 43px;
		margin-left: -3px;
	}
}

.sites {
	padding-top: 10rem;
	color: inherit;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: center;
}

.sites a {
	color: inherit;
	font-size: 1.3rem;
	background: black;
	border-radius: 4px;
	width: 188px;
	height: 120px;
	margin: 1rem;
	line-height: 120px;
	text-align: center;
	color: #4584ee;
	box-sizing: border-box;
	display: block;
	vertical-align: middle;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	appearance: none;
	cursor: default;
}

.sites a:hover, .sites a:focus, .sites a:active {
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.sites a span#title {
	opacity: 0;
	position: absolute;
	font-size: 16px;
	font-family: "Product Sans";
	font-weight: 500;
	text-rendering: optimizeLegibility;
	transition: all ease-in-out 150ms;
	top: 77px;
	left: 0;
	color: #bbb;
	width: 188px;
	height: 1rem;
	text-align: center;
	text-shadow: none;
}
.sites a:hover span#title {
	opacity: 1;
}
.sites a img {
	width: 55px;
}
+ .sites a:nth-child(3n) {
	page-break-after: always;
}
.sites a:hover, .sites a:focus, .sites a:active {
	transform: translateY(-5px);
	text-decoration: none;
	color: #4584ee;
}

.sortable-ghost {
	opacity: 0;
	pointer-events: none;
}
